* {
  margin: 0px; 
  padding: 0px;
  box-sizing: border-box;
}

/* NAVIGACIONI BAR */
header {
  width: 100%;
  height: 65px;
  background-color: #2b1207;
  color: white;
  display: flex;
  justify-content: space-between;
  font-family: 'Cantora One', sans-serif;
  border-bottom: 4px groove #e65212;
}

.logo-text, .nav-bar ul li {
  padding: 15px;
}

.nav-bar {
  padding-right: 120px;
}

.nav-bar ul {
  list-style-type: none;
  display: flex;
}

.nav-bar ul li a {
  text-decoration: none;
  color: white;
}

.first-link a:link {
  color:  #e65212;
  text-decoration: 2px underline #e65212;
}

.logo-text {
  padding-left: 120px;
  font-size: 23px;
}

.logo-text p {
  text-shadow: 3px 3px 10px  #e65212, -3px -3px 14px  #5f2107;
}

/* Druga sekcija- CENTRALNA SLIKA I FORMA */
#background-img {
  width: 100%;
  height: 650px;
  background-image: url(../images/background-image-1.jpg);
  color: white;
  background-position: right;
  background-size: cover;
  background-attachment: fixed;
}

.heading-one {
  font-family: 'Fredericka the Great', cursive;
  font-size: 32px;
  text-align: center;
  text-shadow: 5px 5px 25px #e65212, -5px -5px 25px #e65212 ;
  margin-top: 7px;
  background-color: rgba(43, 18, 7, 0.7);
  padding-top: 45px;
  height: 150px;
  border-top: 4px groove #e65212;
}

/* Forma */
.forma {
  width: 300px;
  height: 300px;
  background-color: #2b1207;
  opacity: .9;
  margin: 90px auto;
  padding: 30px;
  font-family: 'Cantora One', sans-serif;
  text-align: center;
  border-radius: 25px 0px;
}

input[type="text"], input[type="email"], input[type="tel"] {
  width: 220px;
  padding: 7px;
  font-family: 'Cantora One', sans-serif;
}

input[type="submit"] {
  padding: 7px;
  width: 80px;
  border: 4px solid #e65212;
  font-weight: 600;
  color:#2b1207 ;
  font-family: 'Cantora One', sans-serif;
  border-radius: 25px;
  font-size: 14px;
}

.forma table tr td {
  padding: 3px;
}

/* COFFEE shop region */
.CS-region {
  margin-top: 40px;
}

.blok {
  display: flex;
  justify-content: space-around;
}

.blokcic {
  font-family: 'Cantora One', sans-serif;
  width: 400px;
  height: auto;
  background-color: rgb(192, 138, 68);
  border: 2px solid #2b1207 ;
  border-radius: 25px 0px;
  padding: 13px;
  color: white;
  text-align: justify ;
  margin: 19px 0px;
  box-shadow: 5px 5px 25px #2b1207, -5px -5px 25px #2b1207;
}

.CS-span {
  font-size: 18px;
  color: #5f2107;
  font-weight: 600;
}

.CS-span i {
  color: #e65212;
  text-shadow: 3px 3px 3px #2b1207 ;
}

/* BORDER-DIV */
.border-top {
  width: 400px;
  border-top: 3px solid #e65212;
  margin-top: 100px;
}

/* SLIKE */
.img-coffee img {
  width: 400px;
  margin-top: 20px;
}

/* FOOTER */
footer {
  width: 100%;
  height: 80px;
  background-color: #2b1207;
  color: white;
  text-align: center;
  margin-top: 30px;
  padding-top: 30px;
  font-size: 17px;
}

.footer-text {
  font-family: 'Cantora One', sans-serif;
  color: #e65212;
  font-size: 19px;
}




